@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #F05454;
  --secondary-color: #30475E;
  --backgroud-color: #DDDDDD;
  --txt-color: #222831;
}

body {
  font-family: 'Merriweather', serif;
  text-align: center;
  background-color: var(--backgroud-color);
  color: var(--txt-color);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Header */
header h1 {
    color: var(--primary-color);
  text-align: center;
  margin: 2rem;
}

.input-label {
  display: block;
  font-size: larger;
  margin: 2rem 0px;
  font-weight: 600;
}

.input {
  font-size: 1.1rem;
  display: block;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem auto;
  border: 2px solid var(--secondary-color);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 325px;
}

.btn-check {
  background: var(--primary-color);
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: auto;
  display: block;
}

.output {
  font-family: 'Roboto', sans-serif;
  font-size: x-large;
  font-weight: 600;
  margin: 2rem 0;
}
